.header-wrapper {
    align-items: center;
}

.header-wrapper img {
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.phpdocumentor-title a{
    font-size: 1.5rem;
    color: #303030;
}

.container h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

ul li {
    list-style: none;
    background-color: #EC6608;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

li a {
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

li a:hover {
    color: #ffffff;
}